<ion-view view-title="My favorites">
  <ion-content class="margin-top-10">

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="">
      </label>
    </div>

    <div class="list">

      <a class="item item-thumbnail-left" href="#">
        <img src="img/slide1.jpg">
        <h2>Lorem ipsum</h2>
        <p>
          Nine Inch Nails<br>
          Price: <span class="resto-color1">3.99 €</span><br>
          <span class="icon ion-ios-star resto-star-color"></span>
          <span class="icon ion-ios-star resto-star-color"></span>
          <span class="icon ion-ios-star resto-star-color"></span>
          <span class="icon ion-ios-star "></span>
          <span class="icon ion-ios-star "></span>
        </p>
        <div class="float-right">
          <button class="resto-btn resto-btn-primary"><span class="icon ion-android-cart"></span></button>
          <button class="resto-btn resto-btn-dark"><span class="icon ion-android-delete"></span></button>
        </div>
      </a>

      <a class="item item-thumbnail-left" href="#">
        <img src="img/food/d1.jpg">
        <h2>Lorem ipsum</h2>
        <p>
          Nine Inch Nails<br>
          Price: <span class="resto-color1">3.99 €</span><br>
          <span class="icon ion-ios-star resto-star-color"></span>
          <span class="icon ion-ios-star resto-star-color"></span>
          <span class="icon ion-ios-star resto-star-color"></span>
          <span class="icon ion-ios-star resto-star-color"></span>
          <span class="icon ion-ios-star "></span>
        </p>
        <div class="float-right">
          <button class="resto-btn resto-btn-primary"><span class="icon ion-android-cart"></span></button>
          <button class="resto-btn resto-btn-dark"><span class="icon ion-android-delete"></span></button>
        </div>
      </a>

      <a class="item item-thumbnail-left" href="#">
        <img src="img/food/babe.jpg">
        <h2>Lorem ipsum</h2>
        <p>
          Nine Inch Nails<br>
          Price: <span class="resto-color1">10.99 €</span><br>
          <span class="icon ion-ios-star resto-star-color"></span>
          <span class="icon ion-ios-star resto-star-color"></span>
          <span class="icon ion-ios-star resto-star-color"></span>
          <span class="icon ion-ios-star resto-star-color"></span>
          <span class="icon ion-ios-star "></span>
        </p>
        <div class="float-right">
          <button class="resto-btn resto-btn-primary"><span class="icon ion-android-cart"></span></button>
          <button class="resto-btn resto-btn-dark"><span class="icon ion-android-delete"></span></button>
        </div>
      </a>


    </div>

    <div class="list">
      <div class="item">
        Total : 53.60 €
      </div>
    </div>

    </div>
  </ion-content>
</ion-view>
