<ion-view view-title="MyspeedMarket">
  <ion-content class="margin-top-10">
    <ion-slide-box auto-play="true" does-continue="true" show-pager="true">
      <ion-slide>
        <img src="img/slide1.jpg" class="slide-data-img" alt=""/>
      </ion-slide>
      <ion-slide>
        <img src="img/slide2.jpg" class="slide-data-img" alt=""/>
      </ion-slide>
      <ion-slide>
        <img src="img/slide3.jpg" class="slide-data-img" alt=""/>
      </ion-slide>
    </ion-slide-box>
    <div class="padding">
      <div class="row">

      </div>
    </div>
    <div class="row">
      <div class="col-50">
        <img src="img/pannier.jpg" class="slide-data-img" alt=""/>
      </div>
      <div class="col-50">
        <img src="img/pub.jpg" class="slide-data-img" alt=""/>
      </div>
    </div>
  </ion-content>
</ion-view>
