<ion-view view-title="Restaurant">
  <ion-content class="margin-top-10">
    <ion-slide-box auto-play="true" does-continue="true" show-pager="true">
      <ion-slide>
        <img src="img/slide1.jpg" class="slide-data-img" alt=""/>
      </ion-slide>
      <ion-slide>
        <img src="img/slide2.jpg" class="slide-data-img" alt=""/>
      </ion-slide>
      <ion-slide>
        <img src="img/slide3.jpg" class="slide-data-img" alt=""/>
      </ion-slide>
    </ion-slide-box>

    <div class="list">
      <a href="" class="item">
        <h4>schedule</h4>
        <p>
          Monday - Saturday / 6h - 23h <br>
          Sunday / 6h - 20h
        </p>
      </a>
    </div>

    <div class="list">
      <a href="" class="item">
        <h4>Menu of the day</h4>
      </a>
    </div>

    <div class="list">
      <a class="item item-thumbnail-left" href="#">
        <img src="img/slide1.jpg">
        <h2>Tomato Pizza</h2>
        <p>
          Nine Inch Nails<br>
          Price: <span class="resto-color1">3.99 €</span><br>
          <span class="icon ion-ios-star resto-star-color"></span>
          <span class="icon ion-ios-star resto-star-color"></span>
          <span class="icon ion-ios-star resto-star-color"></span>
          <span class="icon ion-ios-star "></span>
          <span class="icon ion-ios-star "></span>
        </p>
        <div class="float-right">
          <button class="resto-btn resto-btn-primary"><span class="icon ion-android-cart"></span></button>
          <button class="resto-btn resto-btn-pink"><span class="icon ion-heart"></span></button>
        </div>
      </a>

    </div>


    <div class="list">
      <a href="" class="item">
        <h4>Day</h4>
      </a>
    </div>

    <div class="list list-inset">

      <div class="item">
        Monday
      </div>

      <div class="item">
        Tuesday
      </div>

      <div class="item">
        Wednesday
      </div>

      <div class="item">
        Thursday
      </div>

      <div class="item">
        Friday
      </div>

      <div class="item">
        Saturday
      </div>

      <div class="item">
        Sunday
      </div>

    </div>


  </ion-content>
</ion-view>
