<ion-view view-title="Restaurant">
  <ion-content class="margin-top-10">
    <ion-slide-box auto-play="true" does-continue="true" show-pager="true">
      <ion-slide>
        <img src="img/slide1.jpg" class="slide-data-img" alt=""/>
      </ion-slide>
      <ion-slide>
        <img src="img/slide2.jpg" class="slide-data-img" alt=""/>
      </ion-slide>
      <ion-slide>
        <img src="img/slide3.jpg" class="slide-data-img" alt=""/>
      </ion-slide>
    </ion-slide-box>

    <div class="card">
      <div class="item item-text-wrap">
        <h2>schedule</h2>
        Monday - Saturday / 6h - 23h<br>
        Sunday / 6h - 20h
      </div>
    </div>


    <div class="resto-bar">
        <h4>Menu of the day</h4>
    </div>

    <div class="list">
      <a class="item item-thumbnail-left" href="#">
        <img src="img/slide1.jpg">
        <h2>Tomato Pizza</h2>
        <p>
          Nine Inch Nails<br>
          Price: <span class="resto-color1">3.99 €</span>
        </p>
      </a>

    </div>


    <div class="resto-bar">
      <h4>Day</h4>
    </div>

    <div class="list list-inset">

      <div class="item">
        Monday
      </div>

      <div class="item">
        Tuesday
      </div>

      <div class="item">
        Wednesday
      </div>

      <div class="item">
        Thursday
      </div>

      <div class="item">
        Friday
      </div>

      <div class="item">
        Saturday
      </div>

      <div class="item">
        Sunday
      </div>

    </div>


  </ion-content>
</ion-view>
