<ion-view view-title="MyspeedMarket">
  <ion-content class="myspeedmarket-background">
    <div class="content-data-login">
      <i class="icon ion-log-in content-data-login-icon"></i>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password">
        </label>
      </div>
      <button class="button button-block button-balanced">Se connecter</button>
      <a ui-sref="newcompte" class="button button-block button-balanced">Créer un compte</a>
    </div>
  </ion-content>
</ion-view>
