<ion-view view-title="Entry">
  <ion-content class="margin-top-10">

    <div class="list">
      <a class="item item-thumbnail-left" href="#">
        <img src="img/slide1.jpg">
        <h2>Tomato Pizza</h2>
        <p>
          Nine Inch Nails<br>
          Price: <span class="resto-color1">3.99 €</span>
        </p>
        <div class="float-right">
          <button class="resto-btn resto-btn-primary"><span class="icon ion-android-cart"></span></button>
          <button class="resto-btn resto-btn-pink"><span class="icon ion-heart"></span></button>
        </div>
      </a>
    </div>

    </div>

  </ion-content>
</ion-view>
